<html>
<head>
	<title>New Entry</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class='home-button'>
    <a href="/home"><img src="/home.png" width="50px" height=auto></a>
  </div>
  {{!-- style="font-size:34px; text-align:center; margin-top: 50px;"
  style="font-size:34px; text-align:center; margin-top: 34px;" --}}
  <p id="today"> Today I felt </p>
	<p class="standardtxt">Choose words that describe your feeling</p>
  <div class="words">
    <button id="word1">happy</button>
    <button id="word2">sad</button>
    <button id="word3">stressed</button>
    <button id="word4">productive</button>
    <button id="word5">hurt</button>
    <button id="word6">angry</button>
    <button id="word7">calm</button>
    <button id="word8">tired</button>
    <div class="dropdown">
      <button id="custom">custom</button>
      <div class="customlist">
        <select id="selection">
          <option id="instruction" disabled>--select a custom word--</option>
          <option value="shook">shook</option>
          <option value="yass">yass</option>
          <option value="dang">dang</option>
        </select>
        <button id="savebtn">save</button>
        <div class="add">
          <input type="text" placeholder="type a word">
          <button id="addbtn">add an option</button>
        </div>
      </div>
    </div>
  </div>

  <a href="result"><button class="standardbtn" id="submit">Submit</button></a>

  <script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/cloudLexis.js"></script>
</body>
</html>
