<html>
<head>
	<title>Test Page</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class='home-button'>
    <a href="/"><img src="/home.png" width="50px" height=auto></a>
  </div>
  <p style="font-size:34px; text-align:center; margin-top: 50px;"> New Entry </p>
  <section class="words">
    <div>
      <p class='word'> happy </p>
    </div>
    <div>
      <p class='word'> sad </p>
    </div>
    <div>
      <p class='word'> stressed </p>
    </div>
    <div>
      <p class='word'> productive </p>
    </div>
    <div>
      <p class='word'> overwhelmed </p>
    </div>
    <div>
      <p class='word'> angry </p>
    </div>
    <div>
      <p class='word'> calm </p>
    </div>
    <div>
      <p class='word'> tired </p>
    </div>
    <div>
      <p class='word'> custom </p>
    </div>
  </section>
  <div class="page2-b1">
		<a href="result"><button>All Done</button></a>
	</div>
</body>
</html>
