<html>
<head>
	<title>New Entry</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class='home-button'>
    <a href="/"><img src="/home.png" width="50px" height=auto></a>
  </div>
  <p style="font-size:34px; text-align:center; margin-top: 50px;"> Today I felt </p>
	<p style="font-size:34px; text-align:center; margin-top: 34px;"><i> Choose up to 3 words. </i></p>
  <section class="words">
    <div>
      <p class='word'> happy </p>
    </div>
    <div>
      <p class='word'> sad </p>
    </div>
    <div>
      <p class='word'> stressed </p>
    </div>
    <div>
      <p class='word'> productive </p>
    </div>
    <div>
      <p class='word'> hurt </p>
    </div>
    <div>
      <p class='word'> angry </p>
    </div>
    <div>
      <p class='word'> calm </p>
    </div>
    <div>
      <p class='word'> tired </p>
    </div>
    <div>
      <p class='word'> custom </p>
    </div>
  </section>

  <div class="page2-b1">
		<a href="result"><button>Submit</button></a>
	</div>

  <script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/cloudLexis.js"></script>
</body>
</html>
