<html>
<head>
	<title>Test Page</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<p class="app-title"> App Title </p>
	<div class="page1-b1">
		<a href="entry"><button>New Entry</button></a>
	</div>
	<div class="page1-b2">
		<a href="result"><button>Looking Back</button></a>
	</div>
</body>
</html>
