<html>
<head>
	<title>Cloud Lexis</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/wordcloud2.js"></script>
	{{> facebook}}
	<script src="js/facebook.js"></script>
</head>
<body>
	<p class="app-title"> Cloud Lexis </p>
		<!-- OLD INPUT FIELDS
		<form>
			<label for="fname">Name:</label><br>
  		<input type="text" id="fname" class = "textbox" name="fname"><br>
			<label for="password">Password:</label><br>
  		<input type="text" id="password" class = "textbox" name="password"><br>
		</form>
		<br>
		<div class="side-by-side">-->
		<div class="fb_button">
			<a href="home">
				<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" data-width="250" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" class="inner_fb_button">
			</fb:login-button>
			</a>
		</div>
		<a href="home"><button class="guest_login">Continue as Guest</button></a>
		<!--</div>-->
	<script src="js/cloudLexis.js"></script>
</body>
</html>
