<html>
<head>
	<title>Test Page</title>
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/wordcloud2.js"></script>
  <script src="js/cloudLexis.js"></script>
</head>

<body>
  <div class='home-button'>
    <a href="/home"><img src="/home.png" width="50px" height=auto></a>
  </div>
	<p class="app-title"> Word Cloud </p>
  {{#each data}}
    <script>addToCleanedData('{{this}}')</script>
  {{/each}}
  <div id='my_canvas'><p style="font-size:100px;">Word Cloud</p>
		<script>
			WordCloud(document.getElementById('my_canvas'), getPreparedData());
		</script>
	</div>

  <div class="date-select">
    <p> Show me words from </p>
      <input type="date" id="start" name="start-date"
        value="YYYY-MM-DD"
        min="2018-01-01" max="2021-12-31"> to
      <input type="date" id="end" name="end-date"
        value="YYYY-MM-DD"
        min="2018-01-01" max="2021-12-31">
    <p class="refresh"><button onClick="window.location.reload();">Refresh</button> <button>Save Cloud</button></p>
  </div>
</body>
</html>
