<html>
<head>
	<title>Test Page</title>
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/wordcloud2.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/cloudLexis.js"></script>
</head>

<body>
  <div class='home-button'>
    <a href="/home"><img src="/home.png" width="50px" height=auto></a>
  </div>
	<p class="app-title"> Word Cloud </p>
  {{#entries}}
    {{#words}}
      <script>addToCleanedData("{{this}}")</script>
    {{/words}}
  {{/entries}}
  <canvas id="my_canvas" class="word_cloud" width="400" height="400"></canvas>
  <script>
    WordCloud(document.getElementById('my_canvas'), getPreparedData());
  </script>

  <div class="date-select">
    <p> Show me words from </p>
      <input type="date" id="start" name="start-date"
        value="2000-01-01"> to
      <input type="date" id="end" name="end-date"
        value="YYYY-MM-DD">
      <script>document.getElementById("end").value=new Date().toJSON().slice(0,10)</script>
      <script>
        var startDate = document.getElementById('start');
        var endDate = document.getElementById('end');
        startDate.addEventListener('input',replace);
        endDate.addEventListener('input',replace);

        function between(date){
          if(parseInt(startDate.value.substring(0,4))<parseInt(date.substring(6,10))&&
             parseInt(endDate.value.substring(0,4))>parseInt(date.substring(6,10))){
            return true;
          }else{
            if(parseInt(startDate.value.substring(0,4))==parseInt(date.substring(6,10))){
              if(parseInt(startDate.value.substring(5,7))<parseInt(date.substring(0,2))){
                return true;
              }else{
                if(parseInt(startDate.value.substring(5,7))==parseInt(date.substring(0,2))){
                  if(parseInt(startDate.value.substring(8,10))<=parseInt(date.substring(3,5))){
                    return true;
                  }
                }
              }
            }
            if(parseInt(endDate.value.substring(0,4))==parseInt(date.substring(6,10))){
              if(parseInt(endDate.value.substring(5,7))>parseInt(date.substring(0,2))){
                return true;
              }else{
                if(parseInt(endDate.value.substring(5,7))==parseInt(date.substring(0,2))){
                  if(parseInt(endDate.value.substring(8,10))>=parseInt(date.substring(3,5))){
                    return true;
                  }
                }
              }
            }
          }
          return false;
        }

        function replace(){
          console.log("noticed");
          dataIndexs=[];
          cleanedData=[];
          {{#entries}}
            console.log(startDate.value);
            console.log("{{this.date}}");
            console.log(endDate.value);
            if(between("{{this.date}}")){
              {{#words}}
                addToCleanedData("{{this}}")
              {{/words}}
            }
          {{/entries}}
          WordCloud(document.getElementById('my_canvas'), getPreparedData());
        }
      </script>
    <p class="refresh"><button onClick="window.location.reload();">Refresh</button> <button>Save Cloud</button></p>
  </div>
</body>
</html>
