<html>
<head>
	<title>Test Page</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class='home-button'>
    <a href="/"><img src="/home.png" width="50px" height=auto></a>
  </div>
	<p class="app-title"> Word Cloud </p>
</body>
</html>
