.app-title{
  font-size: 50px;
  margin-top: 70px;
  text-align: center;
}
.page1-b1{
  margin: 0;
  position: absolute;
  top:40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.page1-b2{
  margin: 0;
  position: absolute;
  top:50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.words {
  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.words button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.04em;
  color: #555B6E;
  text-align: center;
  background: #BEE3DB;
  border-radius: 4px;
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 22%;
  margin-bottom: 22%;
  padding-top: 30px;
  height: 150px;
  width: 150px;
}

.dropdown {
  position: relative;
  display: block;
}

.customlist {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #555B6E;
  width: 150px;
  height: 100px;
  background: #BEE3DB;
  border: 1px solid rgba(81, 105, 104, 0.58);
  box-sizing: border-box;
  margin-left:22%;
  margin-right:22%;
}

.userinput input{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #555B6E;
  width: 100px;
  height: 26px;
  background: #FAF9F9;
  border: 1px solid rgba(81, 105, 104, 0.58);
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  position: absolute;
}

.userinput button{
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #555B6E;
  width: 30px;
  height: 26px;
  background: #FAF9F9;
  border: 1px solid rgba(81, 105, 104, 0.58);
  box-sizing: border-box;
  padding: 5px;
  margin-left: 110px;
  display: inline-block;
}

select{
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #555B6E;
  padding: 5px;
  margin: 5px;
  width: 130px;
}

.dropdown:hover .customlist {display: block;}

.dropdown:hover button#custom {background-color: #FFC2AA;}

.page2-b1{
  margin: 0;
  position: absolute;
  margin-top: 20px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.home-button{
  text-align: right;
  margin-top: 30px;
  margin-right: 30px;
}

.fake-word-cloud{
  font-size: 50px;
  margin-top: 20px;
  text-align: center;
}

.date-select{
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.side-by-side{
  display: grid;
	grid-template-columns: 1fr 1fr;
}


.textbox {
  border: 1px solid #848484;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  outline:0;
  height:25px;
  width: 275px;
  padding-left:10px;
  padding-right:10px;
}

#my_canvas {
  width: 100px;
  height:100px;
  margin-left: 45%;
  margin-bottom: 100px;
}
